
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.navbar {
	background-color: rgba(255,255,255,0.8);
}
.admin-restaurant-list {
	.delete button {
		display: none;
	}
	tr:hover .delete button {
		display: block;
	}
}